@font-face {
    font-family: 'JetBrainsMono';
    src:
        url('fonts/JetBrainsMonoNerdFontMono-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrainsMono';
    src:
        url('fonts/JetBrainsMonoNerdFontMono-LightItalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'JetBrainsMono';
    src:
        url('fonts/JetBrainsMonoNerdFontMono-ExtraBold.ttf') format('truetype');
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: 'JetBrainsMono';
    src:
        url('fonts/JetBrainsMonoNerdFontMono-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

:root {
    --vp-font-family-base: 'JetBrainsMono';
    --vp-font-family-mono: 'JetBrainsMono';
}
